/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/tests
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
/resources/views/themes/backoffice/pages/reserva/OLDindex.blade.php
/storage/imagenes
phpunit.xml*